@if module('blocks') and module('type-v-rhythm') {
// requires: CORE ($gutter, $generate-classes)
// requires: TYPE-V-RHYTHM (v-rhythm())

/******************************************************************************
 * BLOCKS
 ******************************************************************************/


///////////////////////////////////////////////////////////////////////////
// CONFIGURATION

$block-default-vertical-align:   top !default;


////////////////////////////////////////////////////////////////////////////////
// MIXINS

// V-BLOCK
// Same a v-rhythm with different defaults :
// * text is vertically centered, instead of baselined
// * no margin bottom at all

@mixin v-block(
  $fontsize: "base",
  $compact: "auto",
  $padding-vertical: $gutter / 2,
  $padding-horizontal: $gutter / 2
) {

  @include v-rhythm($fontsize: fontsize($fontsize),
                    $compact: $compact,
    								$baseline-mode: false
	);

	display: inline-block;
  vertical-align: $block-default-vertical-align;

  @include padding-horizontal($padding-horizontal);
  @include padding-vertical($padding-vertical);
}


////////////////////////////////////////////////////////////////////////////////
// CLASSES

@if $generate-classes {

  .block { @include v-block; }

  .block--smaller {  @include v-block("smaller"); }
  .block--small {  @include v-block("small"); }
  .block--big {  @include v-block("big"); }
  .block--bigger {  @include v-block("bigger"); }
  .block--biggest {  @include v-block("biggest"); }
  .block--huge {  @include v-block("huge"); }
  .block--giant {  @include v-block("giant"); }
  .block--insane {  @include v-block("insane"); }
}


} /* END Module */
