@if module('buttons') {

/******************************************************************************
 * BUTTONS
 ******************************************************************************/

////////////////////////////////////////////////////////////////////////////////
// CONFIGURATION

$color-gray:                   #888 !default;
$color-primary:                #ff8000 !default;
$color-secondary:              #ff8000 !default;

$btn-fontsize-base:            "bigger" !default;
$btn-color-default:            $color-gray !default;
$btn-color-default-active:     black !default;

$btn-default-vertical-align:   top !default;


////////////////////////////////////////////////////////////////////////////////
// MIXINS

@mixin button(
  $size: 'base',
  $background: $btn-color-default,
  $color: white,
  $baseline: false,
  $compact: true
) {
  background-color: $background;
  color: $color;

  text-align: center;

  @if $baseline {

    // Inline button
    @include v-rhythm(
      fontsize($size),
      $baseline-mode: $baseline,
      $compact: false
    );

  } @else {

    // Block button
    @include v-rhythm(
      fontsize($size),
      $baseline-mode: $baseline,
      $compact: $compact
    );

    display: inline-block;
    vertical-align: $btn-default-vertical-align;

    padding-top: $gutter-half;
    padding-bottom: $gutter-half;
  }

  margin-bottom: 0;
}


////////////////////////////////////////////////////////////////////////////////
// CLASSES

@if $generate-classes {

  button {
    /* Reset button */
    border: none;
    background-color: inherit;
    color: inherit;
  }

  .btn {
    cursor: pointer;

    // @include qualify(a) {
    //   @include hover {
    //     color: $color-secondary;
    //   }
    // }
  }

  ///*button, */.btn {
  button, .btn {
    @include button($btn-fontsize-base);
    padding-left: $gutter-half;
    padding-right: $gutter-half;

    @include hover {
      background-color: $btn-color-default-active;
    }

    // DEMO
    text-transform: uppercase;

  }

  .btn--inline {
    @include button('big', $baseline: false);
  }

  .btn--transparent {
    background-color: transparent;
    color: $color-primary;

    @include hover {
      background: transparent;
      color: darken($color-primary, 20%);
    }
  }

  .btn--small {    @include button('base', $compact: false); }
  .btn--normal {   @include button('bigger'); }
  .btn--big {      @include button('biggest'); }
  .btn--bigger {   @include button('huge', $compact: false); }

  @if module('colors') {
    .btn--primary { background-color: $color-primary; }
    .btn--secondary { background-color: $color-secondary; }
    .btn--ternary { background-color: $color-ternary; }
  }

}

} /* END Module */
