@if module('nav') {
// requires: CORE ($gutter, $generate-classes)
// requires: TYPE-V-RHYTHM (v-rhythm())
// requires: BLOCKS (v-block())
// requires: BREAKPOINTS (bp())
// uses: _type.scss (fontsize())

/******************************************************************************
 * NAV
 ******************************************************************************/


 ////////////////////////////////////////////////////////////////////////////////
 // CONFIGURATION

$nav-fontsize:            'bigger' !default;
$nav-fontsize-baseline:   'big' !default;

$bp-nav-inline:           's' !default;


////////////////////////////////////////////////////////////////////////////////
// PLACEHOLDERS

// DEFAULT NAV

%nav {
  @extend .grid;
  @extend .grid--fit;
  @extend .grid--responsive;
  @extend .grid--middle;
}

// BASELINE NAV

%nav--baseline {
  // Vertical alignment of text
  @extend .grid--top;

  // Negative margins for text alignment (with no bg)
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;

  // Baseline nav item
  > * {
    @include v-rhythm(fontsize($nav-fontsize-baseline));
  };
}



////////////////////////////////////////////////////////////////////////////////
// MIXINS

// NAV ITEM

@mixin nav-item(
  $fontsize: "base",
  $padding-vertical: $gutter-half,
  $padding-horizontal: $gutter-half,
  $margin-vertical: 0
) {

  @include v-block($fontsize);

  // TODO : make this default for grid--responsive ?
  @media screen and (min-width: bp($bp-nav-inline)) {
    flex: none;
  }

  padding-left: $padding-horizontal;
  padding-right: $padding-horizontal;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  margin-top: $margin-vertical;
  margin-bottom: $margin-vertical;

  // a11y - banana test
  // min width touch target size
  min-width: $gutter * 2; // 48px by default

  // touch target spacing
  @media screen and (min-width: bp($bp-nav-inline)) {
    &:not(:last-child) {
      margin-right: $gutter / 2;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
// CLASSES

@if $generate-classes {

/* NAV */
  .nav {               @extend %nav;

/* BASELINE NAV */
    &.nav--baseline {  @extend %nav--baseline; }

/* NAV ITEM */
    > * {              @include nav-item($fontsize: $nav-fontsize); }
  }
}

} /* END Module */
