@if module('nav') {

/******************************************************************************
 * NAV
 ******************************************************************************/

 ////////////////////////////////////////////////////////////////////////////////
 // CONFIGURATION

$prefix:                  "" !default;
$generate-classes:        true !default;

$nav-fontsize:            'bigger' !default;
$nav-fontsize-baseline:   'big' !default;

$bp-nav-inline:           's' !default;


////////////////////////////////////////////////////////////////////////////////
// PLACEHOLDERS

// NAV

%nav {
  @extend .grid;
  @extend .grid--fit;
  @extend .grid--responsive;
}

// BASELINE NAV

%nav--baseline {
  margin-left: -$gutter-half;
  margin-right: -$gutter-half;

  // Baseline nav item
  > * {
    @include v-rhythm(fontsize($nav-fontsize-baseline));
  };
}

// NAV ITEM

%nav__item {

  @include v-rhythm(
    fontsize($nav-fontsize),
    $baseline-mode: false
  );
  margin-bottom: 0;

  // TODO : make this default for grid--responsive ?
  @media screen and (min-width: bp($bp-nav-inline)) {
    flex: none;
  }

  // item lateral padding
  padding-left: $gutter-half;
  padding-right: $gutter-half;

  // a11y - banana test

  // min width touch target size
  min-width: $gutter-double;

  // touch target spacing
  @media screen and (min-width: bp($bp-nav-inline)) {
    &:not(:last-child) {
      margin-right: $gutter-half;
    }
  }

}


////////////////////////////////////////////////////////////////////////////////
// CLASSES

@if $generate-classes {

/* NAV */
  .#{$prefix}nav {               @extend %nav;

/* BASELINE NAV */
    &.#{$prefix}nav--baseline {  @extend %nav--baseline; }

/* NAV ITEM */
    > * {                        @extend %nav__item; }
  }
}

} /* END Module */
