@if module('base') {
// requires: NOTHING

/******************************************************************************
 * BASE
 ******************************************************************************/


// A much more intuitive box model than the default one

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  // Force father of all to be full height
  height: 100%;
}

body {
  // Force page body to be at least as tall as viewport
  min-height: 100%;
  // Kill horizontal scroll
  overflow-x: hidden;  // basically for really narrow viewports (long word overflow)
}

} /* END Module */



// DURATIONS
// TODO move elsewhere

$durations: (
  'slowest':       1s * 2,  // 120  frames
  'slower':        1s * 1,  // 60   frames
  'slow':          1s / 2,  // 30   frames
  'normal':        1s / 4,  // 15   frames
  'fast':          1s / 8,  // 7.5  frames
  'faster':        1s / 16  // 3.75 frames
) !default;

@function duration($speed: "normal") {
  @return map-get($durations, $speed);
}
