*, *::after, *::before {
  box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
  overflow-x: hidden;  // basically for really narrow viewports (long word overflow)
}

img {
  display: block;
  max-width: 100%;
}



@mixin active {

	&:active {
		position: relative;
		top: 2px;
		left: 2px;
	}
}