@if module('gutter') {
	// requires: CORE ($gutter)

/******************************************************************************
 * GUTTER
 ******************************************************************************/


///////////////////////////////////////////////////////////////////////////////
// VARIABLES

// GUTTER

$gutter-double:           $gutter * 2;
$gutter-triple:           $gutter * 3;
$gutter-quad:             $gutter * 4;
$gutter-half:             $gutter / 2;
$gutter-third:            $gutter / 3;
$gutter-quarter:          $gutter / 4;


} /* END Module */
