@if module('type') {

/******************************************************************************
 * TYPE
 ******************************************************************************/

// requires: NOTHING

///////////////////////////////////////////////////////////////////////////
// DEFAULT CONFIGURATION

$prefix:                  "" !default;
$generate-classes:        true !default;

$debug:										true !default;


$lineheight-base:         1.5 !default;

$fontsizes: (
	'smaller': 							12,
	'small': 								14,
	'base': 								16,
	'big': 									20,
	'bigger': 							24,
	'biggest': 							32,
	'huge': 								46,
	'giant': 								62,
	'insane':								84
) !default;

$fontsize-titles: (
	1: 											"huge",
	2: 											"biggest",
	3: 											"bigger",
	4: 											"big",
	5: 											"base",
	6: 											"small"
) !default;


///////////////////////////////////////////////////////////////////////////
// FUNCTIONS

@function fontsize($size: "base") {
	@return map-get($fontsizes, $size);
}

@function fontsize-title($n: 1) {
	$size: map-get($fontsize-titles, $n);
	@return map-get($fontsizes, $size);
}


///////////////////////////////////////////////////////////////////////////
// VARIABLES

$fontsize-smaller:        (n2rem(fontsize("smaller")));
$fontsize-small:          (n2rem(fontsize("small")));
// $fontsize-base is already defined in _gutter.scss
$fontsize-big:           	(n2rem(fontsize("big")));
$fontsize-bigger:         (n2rem(fontsize("bigger")));
$fontsize-biggest:        (n2rem(fontsize("biggest")));
$fontsize-huge:           (n2rem(fontsize("huge")));
$fontsize-giant:          (n2rem(fontsize("giant")));
$fontsize-insane:         (n2rem(fontsize("insane")));


///////////////////////////////////////////////////////////////////////////
// MIXINS

@mixin fontsize ($size: 'base') {
	font-size: px2rem(fontsize($size));
}

@mixin fontsize-title ($n: 1) {
	font-size: px2rem(fontsize-title($n));
}


///////////////////////////////////////////////////////////////////////////
// PLACEHOLDERS


///////////////////////////////////////////////////////////////////////////
// CLASSES

@if $generate-classes {

	// TAGS DEEP OVERRIDE

	html {
		font-size: n2px($pixels-per-rem);  // Ths is one rem
	}

	body {
		font-size: n2px(fontsize("base"));
		line-height: $lineheight-base;
	}

	/* TITLES FONTSIZE */

	h1, .h1 { @include fontsize-title(1); }
	h2, .h2 { @include fontsize-title(2); }
	h3, .h3 { @include fontsize-title(3); }
	h4, .h4 { @include fontsize-title(4); }
	h5, .h5 { @include fontsize-title(5); }
	h6, .h6 { @include fontsize-title(6); }

	/* TEXT FONTSIZE */

	@each $size in $fontsizes {
		$key: nth($size, 1);
		// $value: nth($size, 2);
		.#{$key}-text { @include fontsize($key); }
	}


}

} /* END Module */
