/******************************************************************************
 * DEMO - NAVBAR
 ******************************************************************************/

////////////////////////////////////////////////////////////////////////////////
// CONFIGURATION

$bp-menu-display:           'm';

$navbar-height:             2;  // in $gutter unit
$navbar-height-tablet:      3;
$navbar-height-desktop:     5;

$navbar-fontsize:           $nav-fontsize;
$is-header-sticky:          true;


////////////////////////////////////////////////////////////////////////////////
// CLASSES

/* TOOLZ */

// Mobile main nav is hidden by default
.is-collapsed { display: none; }


/* NAV */

.nav {
  background-color: $color-gray-darker;
  color: $color-gray;

/* NAV ITEM STYLING */

  &:not(.nav--baseline) > *,
  &:not(.nav--baseline) > button {
    background-color: transparent;
    color: $color-gray-lighter;

    &:hover {
      color: white;
    }
  }

  > .nav__item--active {
    font-weight: bold;
  }
}


/* NAVBAR */

.navbar {

  // navbars are grids, with fitted cells
  @extend %grid;
  @extend %grid--fit;

  /* filler */
  // Hacky logo-left/nav-right setup : logo will grow as possible
  > *:first-child {
    @extend %cell--fill;
  }


  /* NAV IN NAVBAR */

  .nav { //background-color: rgba(0,255,0,0.125);

  align-items: center;

    /* Navbar items */

    > * { //background-color: rgba(255,0,0,0.5);

      @include v-block($navbar-fontsize);

      @media screen and (min-width: bp($bp-menu-display)) {
        @include v-block($navbar-fontsize, $padding-vertical: $gutter);
      };

      // Navs are supposed to stack on mobile, thus having no horizontal spacers
      &:not(:last-child) { margin-right: $gutter-half; }
    }


    /* MAIN NAV */

    &.nav-main {
      // width: 100vw;
      width: calc(100% + 2 * 2.4rem);

      margin-left: -$gutter;
      margin-right: -$gutter;

      padding-left: $gutter;
      padding-right: $gutter;

      background: $color-gray-darkest;
      order: 1000;  // force main nav to be the last item of navbar

      // vertical padding
      padding-top: $gutter;
      padding-bottom: $gutter;

      > * {
        // Makes all items full-width by default
        @extend %cell--full;

        //
        @include v-block($navbar-fontsize);

        margin-bottom: $gutter-half;
        &:last-child { margin-bottom: 0; }

        margin-right: 0;
      }

      @media screen and (min-width: bp($bp-menu-display)) {
        width: auto;

        padding: 0;

        margin-left: 0;
        margin-right: $gutter-half;

        background: transparent;
        order: initial;

        &, &.is-collapsed { display: flex; }

        > * {
          flex: none; // @extend .cell--fit bugs me here
          @include v-block($navbar-fontsize, $padding-vertical: $gutter);
          margin-bottom: 0;
        }
      }
    }


    /* MOBILE NAV */

    &.nav-mobile {

      > * {
        flex: none;

        @media screen and (min-width: bp('s')) {
          @include v-block($navbar-fontsize, $padding-vertical: $gutter);
        };

        @media screen and (min-width: bp($bp-menu-display)) {
          &:nth-last-child(2) {
            margin-right: 0;
          }
        };
      }

      /* Hamburger */

      > .hamburger {

        @media screen and (min-width: bp($bp-menu-display)) {
          display: none;
        };
      }
    }

  }  // end .nav
}  // end .navbar


////////////////////////////////////////////////////////////////////////////////
// LOGO

/* SITE LOGO */

.site-logo { //background-color: orange;
  text-transform: uppercase;
  margin-right: $gutter-half;

  a {
    display: inline-block;
    color: color("secondary") !important;
    font-weight: 900;
    font-style: italic;

    @include v-block($navbar-fontsize);

    @media screen and (min-width: bp("s")) {
      @include v-block('biggest');
    }

    @media screen and (min-width: bp("l")) {
      @include v-block('huge');
      margin-top: $gutter;
      margin-bottom: $gutter;
    }

    &:hover,
    &:active {
      // color: color("secondary")-light !important;
      background-color: rgba(0,0,0,0.25) !important;
    }

    span {
      color: $color-gray-lightest;
      font-weight: 300;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
// SEARCH BAR

.search {
  @extend %cell--full;
  flex: 0 0 calc(100% + 4.8rem);

  @extend %grid;

  margin-left: -$gutter;
  margin-right: -$gutter;
  padding-left: $gutter;
  padding-right: $gutter;

  padding-top: $gutter-half;
  padding-bottom: $gutter-half;

  // @media screen and (min-width: bp("m")) {
  //   padding-top: $gutter;
  //   padding-bottom: $gutter;
  // }

  background-color: white;

  /* SEARCH ITEMS */

  > * {
    @include v-block($navbar-fontsize);
    margin-bottom: 0;
    // max-height: 2 * $gutter;  // OMG no...
  }

  /* SEARCH INPUT */

  > .search__input {

    // reset inputs
    border: none;
    width: 0;

    color: $color-gray-darkest;
    box-shadow: inset 0 -2px 0 0 $color-gray-lighter;
    margin-right: $gutter;

    &:focus,
    &:hover {
      box-shadow: inset 0 -2px 0 0 color("primary");
    }


    @extend %cell--fill;
    // background-color: $color-gray-lightest;
    background-color: transparent;

  }

  /* SEARCH LABEL */

  > .search__label { //background-color: teal;
    display: none;
    @media screen and (min-width: bp("m")) { display: block; }

    margin-right: $gutter-half;

    font-style: italic;
    text-transform: uppercase;
    color: $color-gray;
  }

  /* SEARCH SUBMIT */

  > .search__submit {
    background-color: color("secondary");

    color: rgba(255, 255, 255, 0.5);
    &:hover { color: white; }
  }

  /* SEARCH CLOSE */

  > .search__close {
    display: none;
    margin-left: $gutter-half;

    @media screen and (min-width: bp("s")) {
      display: block;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
// STICKY HEADER

/* STICKY HEADER */

@if $is-header-sticky {

  /* Sticky header */

  .wrap--header {
    position: fixed;
    width: 100%;
    z-index: 500;
    @include shadow(2);
  }

  /* Top offset for content */

  .wrap {

    .wrap--content &:first-child {
      margin-top: $navbar-height * $gutter;

      @media screen and (min-width: bp("s")) {
        margin-top: $navbar-height-tablet * $gutter;
      }
      @media screen and (min-width: bp("m")) {
        margin-top: $navbar-height-desktop * $gutter;
      }
    }
  }

}


////////////////////////////////////////////////////////////////////////////////
// Rhythm tester
// TODO: houston we still have an issue on bigger fontsizes

.rhythm-tester {
  @include v-rhythm(200);
  background-color: rgba(0,127,0,0.25);
  text-transform: uppercase;

  span {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.125);
  }
}
