// requires: CORE ($gutter, $fontsize-base)
// requires: COLORS (color())
// requires: SHADOWS (shadow())
// requires: TYPE-V-RHYTHM (v-rhythm())

/******************************************************************************
 * DEMO - STYLEGUIDE
 ******************************************************************************/

// Styleguide basic blocks

.sg-blocks .block {
  margin-bottom: $gutter;
  background-color: color("secondary");
  color: white;
  text-transform: uppercase;
}


// Styleguide color blocks

.sg-colors {
  font-size: 0; // Dirty inline-block no-gutter hack
}

.sg-color {
  font-size: $fontsize-base;
  display: inline-block;
  width: (100% / 8);
  @include v-rhythm(fontsize("small"), $baseline: false);
  padding: $gutter * 2 $gutter / 2;
  color: white;
  text-align: center;
  text-transform: uppercase;
  @include shadow(1);
  transition: box-shadow duration();

  &:hover {
    @include shadow(3);
  }

  &.bg-gray,
  &[class$='-normal'] {
    width: (100% / 4);
  }

  &[class$='lightest'],
  &[class$='lighter'],
  &[class$='light'] {
    color: black;
  }
}


// Styleguide demo-cell

.sg-democell {
  text-align: center;
  @include v-rhythm(16);
  @include padding-vertical($gutter)
  @include padding-horizontal($gutter / 2)

  background: #333;
  color: #eee;
}
