/******************************************************************************
 * DEMO - NAVBAR
 ******************************************************************************/

////////////////////////////////////////////////////////////////////////////////
// CONFIGURATION

$navbar-height:             2;  // in $gutter unit
$navbar-height-tablet:      3;
$navbar-height-desktop:     4;
$navbar-fontsize:           'bigger';

$is-header-sticky:          true;


////////////////////////////////////////////////////////////////////////////////
// CLASSES

.nav {
  // /* Lateral margins */
  margin-left: -$gutter-half ;
  margin-right: -$gutter-half;

  > * {
    text-transform: uppercase;

    &.nav__item--active {
      font-weight: bold;
    }
  }
}

/* NAVBAR */

.navbar {
  @extend .grid;
  @extend .grid--fit;

  /* .nav */

  .nav {

    > * {
      color: $color-gray;
      margin-right: 0;

      @media screen and (min-width: bp('s')) {
        @include v-rhythm(fontsize($navbar-fontsize), $baseline-mode: false, $lines: 3);
        margin-bottom: 0;
      };

      @media screen and (min-width: bp($bp-menu-display)) {
        @include v-rhythm(fontsize($navbar-fontsize), $baseline-mode: false, $lines: 4);
        margin-bottom: 0;
      };

      &:hover {
        color: $color-gray-lighter;
      }

      &.nav__item--active {
        color: $color-gray-lighter;
        // text-decoration: underline;
        box-shadow: -$gutter-quarter 0 0 0 currentColor;

        @media screen and (min-width: bp($bp-menu-display)) {
          box-shadow: inset 0 (-$gutter-quarter) 0 0 currentColor;
        };
      }
    }

    /* nav-main */

    &.nav-main {//background-color: teal;
      width: 100%;
      margin-top: $gutter;
      margin-bottom: $gutter;

      &.is-collapsed {
        display: none;
      }

      order: 1000;

      // Makes all items full-width by default
      > * {
        @extend %cell--full;
      }

      @media screen and (min-width: bp($bp-menu-display)) {
        width: auto;
        margin-top: 0;
        margin-bottom: 0;

        &, &.is-collapsed {
          display: flex;
        }

        order: initial;

        > * {
          flex: none; // @extend .cell--fit bugs me here
        }
      }

    }

    /* nav-mobile */

    &.nav-mobile {

      > * {
        flex: none;
        margin-right: 0;

        a, button {
          color: $color-gray;

          &:hover {
            color: $color-gray-lighter;
          }
        }

        // &:nth-last-child(2) {
        // }
      }

      > button.hamburger {

        @media screen and (min-width: bp($bp-menu-display)) {
          display: none;
        };

        color: $color-secondary;

        &:hover {
          color: $color-secondary-light !important;
        }
      }

    }

  }

}


/* STICKY HEADER */

@if $is-header-sticky {

  /* Sticky header */

  .wrap--header {
    position: fixed;
    width: 100%;
    z-index: 500;
    @include shadow(2);
  }

  /* Top offset for content */

  .wrap {

    .wrap--content &:first-child {
      margin-top: $navbar-height * $gutter;

      @media screen and (min-width: bp("s")) {
        margin-top: $navbar-height-tablet * $gutter;
      }
      @media screen and (min-width: bp("m")) {
        margin-top: $navbar-height-desktop * $gutter;
      }
    }
  }

}

/* SITE LOGO */

.site-logo {
  text-transform: uppercase;

  a {
    color: $color-secondary !important;
    font-weight: 900;
    font-style: italic;

    @include v-rhythm(fontsize('bigger'), $baseline-mode: false, $lines: 2);
    margin-bottom: 0;

    @media screen and (min-width: bp("s")) {
      @include v-rhythm(fontsize('bigger'), $baseline-mode: false, $lines: 3);
      margin-bottom: 0;
    }

    @media screen and (min-width: bp("m")) {
      @include v-rhythm(fontsize('biggest'), $baseline-mode: false, $lines: 4);
      margin-bottom: 0;
    }

    &:hover,
    &:active {
      color: $color-secondary-light !important;
    }

    span {
      color: $color-gray-lightest;
      font-weight: 300;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Rhythm tester
// TODO: houston we still have an issue on bigger fontsizes

.rhythm-tester {
  @include v-rhythm(200);
  background-color: rgba(0,127,0,0.25);
  text-transform: uppercase;

  span {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.125);
  }
}
