/******************************************************************************
 * DEMO
 ******************************************************************************/


// NAVBAR
.navbar {

  margin-left: -($gutter / 2);

  a {
    display: block;
    padding: ($gutter / 2);
    margin-right: 2em;
    text-align: center;
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: white;
    }
  }
}


/////////////////////////////////////////////////////////////////
// WRAP

body {
  background-color: #eed;
}

.wrap-site {      background-color: white; }

.wrap--header {   background-color: #444; color: #ddd; }
.wrap--main {     background-color: white;
                  background-image: url("http://basehold.it/i/#{$gutter-in-px}/ff0000");
                  padding-top: ($gutter * 2); padding-bottom: ($gutter * 2);}
.wrap--aside {    background-color: #ddd; }
.wrap--footer {   background-color: #888; }



/////////////////////////////////////////////////////////////////
// GRID


h1 {
  color: $color-primary;
  text-transform: uppercase;
}

h2 {
//  margin-top: (2 * $gutter);
}

h3 {
//  margin-top: (2 * $gutter);
  text-transform: uppercase;
  color: #008040;
}

.grid h2 {
  background: #333;
  color: #eee;
  text-align: center;
//  padding: ($gutter / 2);
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  @include v-rhythm(16);
}

.content { background: #eee; padding: ($gutter); }

blockquote {
  @include v-rhythm(22);
  color: #888;
  font-style: italic;
  border-left: 8px solid;
  margin-left: $gutter;
  padding-left: $gutter;
}

// Styleguide color blocks

.sg-color {
  display: inline-block;
  width: 10%;
  padding: $gutter;
  color: white;

  &.bg-gray,
  &[class$='ary'] {
    width: 20%;
  }

  &[class$='lightest'],
  &[class$='lighter'],
  &[class$='light'] {
    color: black;
  }
}




// PRISM.JS

// Prism JS - Syntax highlighter
@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css");

:not(pre)>code[class*=language-], pre[class*=language-] {
//	code {background: transparent;}
}

pre[class*=language-]>code[data-language] {
	// Auto scrollbars removal
	overflow: auto;
}

pre[class*="language-"] {
  margin: 0;
  padding: 0;
//  padding: ($gutter * 0.5) !important;
  @include v-rhythm(16);
  color: white;
  border-radius: 4px;
  // margin-bottom: (2 * $gutter) !important;
  // margin-top: (1 * $gutter) !important;

  code {
    padding: 0 $gutter;
    background: transparent
  }
}

.fade { color: #888; }

code {
  padding: 0.25rem 0.5rem;
  background: #555;
  color: white;
  border-radius: 4px;
}
