/******************************************************************************
 * DEMO - NAVBAR
 ******************************************************************************/

////////////////////////////////////////////////////////////////////////////////
// CONFIGURATION

$navbar-height:             2;  // in $gutter unit
$navbar-height-tablet:      3;
$navbar-height-desktop:     4;
$navbar-fontsize:           'bigger';

$is-header-sticky:          true;


////////////////////////////////////////////////////////////////////////////////
// CLASSES

/* NAV */

.nav {
  // Negative lateral margins for content navs
  margin-left: -$gutter-half ;
  margin-right: -$gutter-half;

  /* NAV ITEM */

  > * {
    text-transform: uppercase;

    &.nav__item--active {
      font-weight: bold;
    }
  }
}


/* NAVBAR */

.navbar {
  // navbars are grids, with fitted cells
  @extend .grid;
  @extend .grid--fit;

  /* filler */
  // the filler splits left and right parts of navbar
  // it's a bloat tag, and it flex fills as much space as needed
  > .navbar__filler {
    @extend %cell--fill;
  }

  /* NAV IN NAVBAR */

  .nav {

    /* Nav items */

    > * {
      color: $color-gray;

      @media screen and (min-width: bp('s')) {
        @include v-rhythm(fontsize($navbar-fontsize), $baseline-mode: false, $lines: 3);
        margin-bottom: 0;
      };

      @media screen and (min-width: bp($bp-menu-display)) {
        @include v-rhythm(fontsize($navbar-fontsize), $baseline-mode: false, $lines: 4);
        margin-bottom: 0;
      };

      &:hover {
        color: $color-gray-lighter;
      }

      &.nav__item--active {
        color: $color-gray-lighter;
        // text-decoration: underline;
        box-shadow: -$gutter-quarter 0 0 0 currentColor;

        @media screen and (min-width: bp($bp-menu-display)) {
          box-shadow: inset 0 (-$gutter-quarter) 0 0 currentColor;
        };
      }
    }

    /* MAIN NAV */

    &.nav-main {//background-color: teal;
      width: 100vw;
      margin-right: 0;

      padding-top: $gutter;
      padding-bottom: $gutter;

      margin-left: -$gutter;
      margin-right: -$gutter;
      padding-left: $gutter-half;
      padding-right: $gutter-half;

      background: $color-gray-darkest;
      order: 1000;

      &.is-collapsed { display: none; }

      // Makes all items full-width by default
      > * {
        @extend %cell--full;
      }

      @media screen and (min-width: bp($bp-menu-display)) {
        width: auto;

        padding-top: 0;
        padding-bottom: 0;

        margin-left: 0;
        margin-right: 0;

        background: transparent;
        order: initial;

        &, &.is-collapsed { display: flex; }

        > * {
          flex: none; // @extend .cell--fit bugs me here
        }
      }
    }

    /* MOBILE NAV */

    &.nav-mobile {

      > * {
        margin-right: 0;
        flex: none;

        a, button {
          color: $color-gray;

          &:hover {
            color: $color-gray-lighter;
          }
        }
      }

      /* Hamburger */

      > button.hamburger {

        @media screen and (min-width: bp($bp-menu-display)) {
          display: none;
        };

        color: $color-secondary;

        &:hover {
          color: $color-secondary-light;
        }
      }
    }

  }  // end .nav
}  // end .navbar


////////////////////////////////////////////////////////////////////////////////
// STICKY HEADER

/* STICKY HEADER */

@if $is-header-sticky {

  /* Sticky header */

  .wrap--header {
    position: fixed;
    width: 100%;
    z-index: 500;
    @include shadow(2);
  }

  /* Top offset for content */

  .wrap {

    .wrap--content &:first-child {
      margin-top: $navbar-height * $gutter;

      @media screen and (min-width: bp("s")) {
        margin-top: $navbar-height-tablet * $gutter;
      }
      @media screen and (min-width: bp("m")) {
        margin-top: $navbar-height-desktop * $gutter;
      }
    }
  }

}

////////////////////////////////////////////////////////////////////////////////
// LOGO

/* SITE LOGO */

.site-logo {
  text-transform: uppercase;

  a {
    color: $color-secondary !important;
    font-weight: 900;
    font-style: italic;

    @include v-rhythm(fontsize('bigger'), $baseline-mode: false, $lines: 2);
    margin-bottom: 0;

    @media screen and (min-width: bp("s")) {
      @include v-rhythm(fontsize('bigger'), $baseline-mode: false, $lines: 3);
      margin-bottom: 0;
    }

    @media screen and (min-width: bp("m")) {
      @include v-rhythm(fontsize('biggest'), $baseline-mode: false, $lines: 4);
      margin-bottom: 0;
    }

    &:hover,
    &:active {
      color: $color-secondary-light !important;
    }

    span {
      color: $color-gray-lightest;
      font-weight: 300;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Rhythm tester
// TODO: houston we still have an issue on bigger fontsizes

.rhythm-tester {
  @include v-rhythm(200);
  background-color: rgba(0,127,0,0.25);
  text-transform: uppercase;

  span {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.125);
  }
}
