@if module('module_name') {

/******************************************************************************
 * [MODULE_NAME]
 ******************************************************************************/

 // requires: _type.scss/NOTHING



///////////////////////////////////////////////////////////////////////////////
// CONFIGURATION

$prefix:                  "" !default;
$generate-classes:        true !default;

$debug:                   true !default;


///////////////////////////////////////////////////////////////////////////////
// FUNCTIONS

///////////////////////////////////////////////////////////////////////////////
// VARIABLES

///////////////////////////////////////////////////////////////////////////////
// MIXINS

///////////////////////////////////////////////////////////////////////////////
// CLASSES

@if $generate-classes {

}

} /* END Module */
