/******************************************************************************
 * NAV
 ******************************************************************************/

 ////////////////////////////////////////////////////////////////////////////////
 // CONFIGURATION

 $nav-fontsize-solid:       'bigger' !default;
 $nav-fontsize-baseline:    'big' !default;

 $bp-nav-inline:            'm' !default;

 ////////////////////////////////////////////////////////////////////////////////
 // CLASSES

/* NAV */

.nav {
  @extend .grid;
  @extend .grid--fit;
  @extend .grid--responsive;

  // SOLID NAV (default)

  margin-left: 0;
  margin-right: 0;

  /* Solid nav items */

  > * {
    @include v-rhythm(fontsize($nav-fontsize-solid), $baseline-mode: false);
    margin-bottom: 0;
  }

  /* NAV ITEM */

  > * {

    // TODO : make this default for grid--responsive ?
    @media screen and (min-width: bp($bp-nav-inline)) {
      flex: none;
      @extend %cell--fit;
    }

    // item lateral padding
    padding-left: $gutter-half;
    padding-right: $gutter-half;

    // a11y - banana test
    &:not(:last-child) {
      // touch target spacing
      @media screen and (min-width: bp($bp-nav-inline)) {
        margin-right: $gutter-half;
      }
    }
    // min width touch target size
    min-width: $gutter-double;
  }


  // BASELINE NAVS

  &.nav--baseline {

    > * {
      @include v-rhythm(fontsize($nav-fontsize-baseline));
    };
  }

}
