/******************************************************************************
 * TYPE
 ******************************************************************************/

///////////////////////////////////////////////////////////////////////////////
// DEFAULT CONFIGURATION

$prefix:                  "" !default;
$generate-classes:        true !default;

$debug:										true !default;

// _gutter.scss override
$fontsizes: (
	'smaller': 							12,
	'small': 								14,
	'base': 								16,
	'big': 									20,
	'bigger': 							24,
	'biggest': 							32,
	'huge': 								46,
	'giant': 								62,
	'insane':								84
);


///////////////////////////////////////////////////////////////////////////////
// FUNCTIONS


///////////////////////////////////////////////////////////////////////////////
// VARIABLES

$fontsize-smaller:        (n2rem(fontsize("smaller")));
$fontsize-small:          (n2rem(fontsize("small")));
// $fontsize-base is already defined in _gutter.scss
$fontsize-big:           	(n2rem(fontsize("big")));
$fontsize-bigger:         (n2rem(fontsize("bigger")));
$fontsize-biggest:        (n2rem(fontsize("biggest")));
$fontsize-huge:           (n2rem(fontsize("huge")));
$fontsize-giant:          (n2rem(fontsize("giant")));
$fontsize-insane:         (n2rem(fontsize("insane")));


///////////////////////////////////////////////////////////////////////////////
// MIXINS


///////////////////////////////////////////////////////////////////////////////
// PLACEHOLDERS


///////////////////////////////////////////////////////////////////////////////
// CLASSES

@if $generate-classes {

	// TAGS DEEP OVERRIDE

	html {
		font-size: (n2px($pixels-per-rem));  // Ths is one rem
	}

	body {
		font-size: $fontsize-base;
		line-height: $lineheight-base;
	}

	h1, .h1 { 			font-size: $fontsize-huge; }
	h2, .h2 { 			font-size: $fontsize-biggest; }
	h3, .h3 { 			font-size: $fontsize-bigger; }
	h4, .h4 { 			font-size: $fontsize-big; }
	h5, .h5 { 			font-size: $fontsize-base; }
	h6, .h6 { 			font-size: $fontsize-small; }

	.smaller-text { font-size: $fontsize-smaller; }
	.small-text { 	font-size: $fontsize-small; }
	.big-text { 		font-size: $fontsize-big; }
	.bigger-text { 	font-size: $fontsize-bigger; }
	.biggest-text { font-size: $fontsize-biggest; }
	.huge-text { 		font-size: $fontsize-huge; }
	.giant-text { 	font-size: $fontsize-giant; }
	.insane-text { 	font-size: $fontsize-insane; }

}
